@use "variable";

.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 2rem;

  color: white;

  h1 {
    font-size: 3rem;
    color: variable.$headerColor;

    span {
      color: variable.$green;
    }
  }

  .profile-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2.5rem;

    img {
      width: 35%;
    }

    .about-link-wrapper {
      ul {
        list-style-type: none;
        display: flex;
        gap: 1.5rem;
        li {
          font-size: 1.5rem;
          a {
            color: white;
            text-decoration: none;

            &:hover {
              color: variable.$green;
            }
          }
        }
      }
    }
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    span {
      font-style: italic;

      &:hover {
        cursor: pointer;
        color: variable.$green;
      }
    }
  }

  .course-wrapper {
    h3 {
      font-style: italic;

      span {
        text-decoration: underline;
        font-weight: 400;

        &:hover {
          cursor: pointer;
          color: variable.$green;
        }
      }
    }
  }

  @include variable.respond-to(tablet) {
    padding: 6rem 4rem;

    h1 {
      font-size: 4rem;
    }

    .profile-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 3rem;

      img {
        width: 20%;
      }
    }

    .info-wrapper {
      display: grid;
      grid-template-columns: auto;
      gap: 2rem;
    }
  }

  @include variable.respond-to(laptop) {
    padding: 6rem 4rem;

    h1 {
      font-size: 4rem;
    }

    .profile-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 3rem;

      img {
        width: 15%;
      }
    }

    .info-wrapper {
      display: grid;
      grid-template-columns: auto;
      gap: 1.5rem;
      p {
        line-height: 1.75rem;
      }
    }
  }

  @include variable.respond-to(desktop) {
    padding: 6rem 8rem;
    gap: 3rem;
    h1 {
      font-size: 4rem;
    }

    .profile-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 3rem;

      img {
        width: 15%;
      }
    }

    .info-wrapper {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 2rem;

      p {
        text-align: left;
        letter-spacing: 0.5px;
        line-height: 1.75rem;
      }
    }
  }
}
