@use "variable";

.projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  padding: 3rem 1rem;

  color: white;

  h1 {
    font-size: 3rem;
    color: variable.$headerColor;

    span {
      color: variable.$green;
    }
  }

  .project {
    .project-container {
      border-top: 1px solid rgba(241, 240, 240, 0.6);
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      align-items: center;

      .image-wrapper {
        padding: 1.5rem 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
        height: 100%;

        img {
          width: 7rem;
          height: 5rem;
        }

        .project-info {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          span {
            font-weight: 800;
            letter-spacing: 0.5px;
            font-size: 0.8rem;
          }
          ul {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            list-style-type: none;

            li {
              padding: 0.25rem 0.5rem;
              border-radius: 1rem;
              font-size: 0.6rem;
              border: 1px solid;
              width: fit-content;
            }
          }
        }
      }

      .view-wrapper {
        width: fit-content;

        a {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 0.65rem;
          color: white;
          text-decoration: none;
          font-style: italic;
          font-weight: 500;
          cursor: pointer;
          ion-icon {
            font-size: 0.8rem;
            color: white;
          }
          &:hover {
            color: variable.$green;
          }
        }
      }
    }
  }

  @include variable.respond-to(tablet) {
    gap: 4rem;
    padding: 6rem 3rem;

    h1 {
      font-size: 4rem;
    }

    .project {
      .project-container {
        display: flex;

        .image-wrapper {
          padding: 3rem 1.8rem 3rem 0;
          gap: 2rem;

          img {
            width: 40%;
            height: 40%;
          }

          .project-info {
            gap: 1rem;
            span {
              font-weight: 800;
              letter-spacing: 1px;
              font-size: 1rem;
            }
            ul {
              gap: 1rem;
              li {
                padding: 0.55rem 1rem;

                font-size: 0.8rem;
              }
            }
          }
        }

        .view-wrapper {
          width: fit-content;

          a {
            gap: 0.5rem;
            font-size: 1rem;

            ion-icon {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  @include variable.respond-to(laptop) {
    gap: 4rem;
    padding: 6rem 4rem;

    h1 {
      font-size: 4rem;
    }

    .project {
      .project-container {
        display: flex;

        .image-wrapper {
          padding: 3rem 1.8rem 3rem 0;
          gap: 2rem;
          width: 80%;
        }
      }
    }
  }

  @include variable.respond-to(desktop) {
    gap: 4rem;
    padding: 9rem 8rem;

    h1 {
      font-size: 4rem;
    }

    .project {
      .project-container {
        display: flex;

        .image-wrapper {
          padding: 3rem 1.8rem 3rem 0;
          gap: 2rem;
          width: 70%;

          .project-info {
            gap: 1rem;
            span {
              font-weight: 800;
              letter-spacing: 2px;
              font-size: 1.5rem;
            }
            ul {
              gap: 1.5rem;
              li {
                padding: 0.5rem 1.7rem;
                font-size: 1rem;
              }
            }
          }
        }

        .view-wrapper {
          a {
            gap: 0.75rem;
            font-size: 1.25rem;

            ion-icon {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
}
