@use "variable";

.skills-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: white;
  padding: 3rem 2rem;

  h1 {
    font-size: 3rem;
    color: variable.$headerColor;
    span {
      color: variable.$green;
    }
  }

  ul {
    list-style-type: none;
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    li {
      border-radius: 2rem;
      padding: 0.25rem 1.25rem;
      width: fit-content;
      border: 1px solid;
      transition: ease-out 0.1s;
      &:hover {
        cursor: pointer;
        background-color: variable.$green;
        font-weight: 800;
        color: variable.$darkest;
        transition: ease-in 0.1s;
      }
    }
  }

  .skill-images {
    display: grid;
    grid-template-columns: auto auto;
    gap: 4rem;

    justify-content: center;

    li {
      font-size: 6.5rem;
      width: fit-content;

      &:hover {
        cursor: pointer;
        color: variable.$green;
      }
    }
  }

  @include variable.respond-to(tablet) {
    padding: 2rem 4rem;
    gap: 3rem;
    h1 {
      font-size: 4rem;
    }
    .skills-list {
      width: 75%;
      gap: 1rem;

      li {
        padding: 0.7rem 1.4rem;
      }
    }

    .skill-images {
      margin-top: 2rem;
      display: flex;

      gap: 2.5rem;

      li {
        font-size: 4rem;
      }
    }
  }

  @include variable.respond-to(laptop) {
    padding: 2rem 4rem;
    gap: 3rem;
    h1 {
      font-size: 5rem;
    }
    .skills-list {
      width: 55%;
      gap: 1rem;
    }

    .skill-images {
      margin-top: 2rem;
      display: flex;

      gap: 2.5rem;

      li {
        font-size: 5rem;
      }
    }
  }

  @include variable.respond-to(desktop) {
    padding: 2rem 8rem;
    gap: 3rem;
    h1 {
      font-size: 5rem;
    }
    .skills-list {
      padding-right: 1rem;
      width: 50%;
      gap: 1rem;
    }

    .skill-images {
      margin-top: 4rem;
      display: flex;

      gap: 4rem;

      li {
        font-size: 6rem;
      }
    }
  }
}
