@use "variable";

.skills-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: white;
  padding: 3rem 2rem;

  h1 {
    font-size: 3rem;
    color: variable.$headerColor;
    span {
      color: variable.$green;
    }
  }

  ul {
    list-style-type: none;
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    li {
      border-radius: 2rem;
      padding: 0.25rem 1.25rem;
      width: fit-content;
      border: 1px solid;
      transition: ease-out 0.1s;
      &:hover {
        cursor: pointer;
        background-color: variable.$green;
        font-weight: 800;
        color: variable.$darkest;
        transition: ease-in 0.1s;
      }
    }
  }

  .skill-images {
    display: grid;
    grid-template-columns: auto auto;
    gap: 4rem;

    justify-content: center;

    li {
      font-size: 6.5rem;
      width: fit-content;

      &:hover {
        cursor: pointer;
        color: variable.$green;
      }
    }
  }
}
